/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typo */
body {
  font-family: 'Roboto', sans-serif;
}

/* Buttons */
.btn {
  border-radius: 10px;
  margin: 0 10px;
}
a.btn.btn-primary {
  background-color: #ddd;
  color: #000;
}
a.btn.btn-secondary {
  background-color: #000;
  color: #fff;
}

header {
  margin-top: 70px;
}
.logo {
  width: 30px;
}
/* Main Menu */
.main-menu {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu .main-menu-list {
  display: flex;
  list-style: none;
  align-items: center;
}
.main-menu a {
  color: #777;
  text-decoration: none;
}

.main-menu .main-menu-list > li > a {
  padding: 10px 25px;
}
.main-menu .main-menu-list > li {
  position: relative;
}
.main-menu-left .main-menu-list > li:nth-child(2) > a {
  color: #000;
}

.main-menu-dropdown-container {
  padding-top: 10px;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}
.main-menu .main-menu-dropdown {
  white-space: nowrap;
  list-style: none;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px, rgb(0 0 0 / 8%) 0px 8px 16px 0px;
}
.main-menu .main-menu-dropdown li a {
  display: inline-block;
  padding: 10px 0;
}

.main-menu-dropdown-container.active {
  display: block;
}

/* Modo 0 */
/* .main-menu-list > li:hover > .main-menu-dropdown-container  {
  display: block;
} */
